<ng-container *ngIf="isUserAuthenticated==false">
  <div class="loggedin-header">
    <img height="100" width="100" src="../assets/icons/apple-1.svg">
    <h1> {{title}}</h1>
  </div>
  <div class="loggedin-content">
    <div class="loggedin-static">
      <div class="static-content static-home" [ngClass] = ""><p>Home</p></div>
      <div class="static-content static-graphs">Graphs</div>
      <div class="static-content static-ui">User Information</div>
      <div class="static-content static-maps">Maps</div>
      <div class="static-content static-pay">Payment</div>
    </div>
    <div><router-outlet></router-outlet></div>
  </div>
  
</ng-container>